#app-newsletter input{
    height: 26px;
    margin: 3px 10px 0;
}

#app-newsletter button  { color:#757575; font-size:16px; font-family:'Signika', sans-serif;border:none; margin:0 auto; height:43px; width:130px; background:url(../img/signup-button.png) no-repeat; display:block;  }
#app-newsletter button:hover { background-position:0 100%;}

.news1 h3 {
    /*font-size:15px;*/
    padding-top:15px;
    font-size:20px;
    float:none;
}

/**********PopUp Newsletter**********/

#newsletter{
    width:1000px;
    /*height: 300px;*/
}

.modal{
    left:33%;
    background-color: transparent;
}

.subscribe-popup {
    background-color:#000000;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
 }


/*********Start Now***********/
a.signup-button {
    font-weight: 100;
    font-size:17px;
    /*line-height: 21px;*/
    letter-spacing:1px;
}
a.signup-button:hover {

}

/**LOgo*****/
.logo{
    width: 400px;
}
